<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="Daniel Ballerini">
<title>CRUD Persons</title>
<link
	href="https://unpkg.com/bootstrap@3.4.0/dist/css/bootstrap.min.css"
	rel="stylesheet">
<link href="/persons.css" rel="stylesheet" />
</head>
<body>
	<div class="container">
		<h1>Person CRUD</h1>
		<main id="app"> <router-view></router-view> </main>
	</div>

	<template id="person">
	<div>
		<h2>{{ person.firstName }} {{ person.lastName }}</h2>
		<b>Aliases: </b>
		<div>{{ person.aliases }}</div>
		<br /> <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
		<a> <router-link to="/">Back to person list</router-link>
		</a>
	</div>
	</template>

	<template id="person-list">
	<div>
		<div class="actions">
			<a class="btn btn-default"> <router-link
					:to="{path: '/add-person'}"> <span
					class="glyphicon glyphicon-plus"></span> Add person </router-link>
			</a>
		</div>
		<div class="filters row">
			<div class="form-group col-sm-3">
				<input placeholder="Search" v-model="searchKey" class="form-control"
					id="search-element" requred />
			</div>
		</div>
		<table class="table">
			<thead>
				<tr>
					<th>Name</th>
					<th></th>
					<th class="col-sm-2">Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr v-for="person in filteredPersons">
					<!-- tr v-for="person in persons" -->
					<!-- tr v-for="person in persons | filterBy searchKey in 'title'" -->
					<td><a> <router-link
								:to="{name: 'person', params: {person_id: person.id}}">{{ person.firstName }} {{ person.lastName }}</router-link>
					</a></td>
					<td>{{ person.aliases }}</td>
					
					<td><a class="btn btn-warning btn-xs"> <router-link
								:to="{name: 'person-edit', params: {person_id: person.id}}">Edit</router-link>
					</a> <a class="btn btn-danger btn-xs"> <router-link
								:to="{name: 'person-delete', params: {person_id: person.id}}">Delete</router-link>
					</a></td>
				</tr>
			</tbody>
		</table>
	</div>
	</template>


	<template id="add-person">
	<div>
		<h2>Add new person</h2>
		<form @submit="createPerson">
			<div class="form-group">
				<label for="add-firstname">First Name</label> <input class="form-control"
					id="add-name" v-model="person.firstName" required />
			</div>
			<div class="form-group">
				<label for="add-lastname">Last Name</label> <input class="form-control"
					id="add-name" v-model="person.lastName" required />
			</div>
			<div class="form-group">
				<label for="add-aliases">Aliases</label>
				<input class="form-control" id="add-aliases"  required></input>
			</div>
			<button type="submit" class="btn btn-primary">Create</button>
			<a class="btn btn-default"> <router-link to="/">Cancel</router-link>
			</a>
		</form>
	</div>
	</template>

	<template id="person-edit">
	<div>
		<h2>Edit person</h2>
		<form @submit="updatePerson">
			<div class="form-group">
				<label for="edit-firstName">First Name</label> <input class="form-control"
					id="edit-name" v-model="person.firstName" required />
			</div>
			<div class="form-group">
				<label for="edit-firstName">Last Name</label> <input class="form-control"
					id="edit-name" v-model="person.lastName" required />
			</div>
			<div class="form-group">
				<label for="edit-aliases">Aliases</label>
				<input class="form-control" id="edit-releaseyear" 
					v-model="person.aliases" required></input>
			</div>
			<button type="submit" class="btn btn-primary">Save</button>
			<a class="btn btn-default"> <router-link to="/">Cancel</router-link>
			</a>
		</form>
	</div>
	</template>

	<template id="person-delete">
	<div>
		<h2>Delete person {{ person.firstName }} {{ person.lastName }}</h2>
		<form @submit="deletePerson">
			<p>The action cannot be undone.</p>
			<button type="submit" class="btn btn-danger">Delete</button>
			<a class="btn btn-default"> <router-link to="/">Cancel</router-link>
			</a>
		</form>
	</div>
	</template>

	<script src="https://unpkg.com/vue@2.5.22/dist/vue.js"></script>
	<script src="https://unpkg.com/vue-router@3.0.2/dist/vue-router.js"></script>
	<script src="https://unpkg.com/axios@0.18.0/dist/axios.min.js"></script>
	<script src="/persons.js"></script>

</body>
</html>